.components-webpage-container{
    border:thick solid black;
    width:95%;
	max-width:1000px!important;
    box-shadow: grey 5px 5px 5px;
    text-align: center;
    position:relative;
    margin:auto;

}
.standard-container{
    border-bottom:thick black solid;
}

.product-components-items-section,.product-components-list-section{
	width:100%!important;
	border-left:none!important;
	border-right:none!important;
}
.product-page-title{
    text-align: center;
    position: relative;
    margin: auto;
    width: 100%!important;
}

.category-box-group{
	width:100%!important;
	padding-top:20px;
	padding-bottom:20px;
}
.category-box-border{
    width: 100%!important;
    height: 10px;
    background-color: black;
}

.category-box{
    position: relative;
    margin-top: -10px!important;
    left: 0;
    right: 0;
    margin-left: auto!important;
    margin-right: auto!important;
    display: inline-block;
    background-color: black;
    color: white;
    padding: 5px;
}

.product-page-subtitle{
    width:80%!important;
    margin:auto;
    text-align: left;
    text-decoration: underline;


}

.notice{
    width: 80%!important;
    text-align: left!important;
    position: relative;
    margin: auto;
}

.component-images-container{
    width: 80%;
    display:flex!important;
	
    -webkit-flex-wrap: wrap!important;
    -moz-flex-wrap:wrap!important ;
    -ms-flex-wrap:wrap!important ;
    -o-flex-wrap:wrap!important ;
    flex-wrap:wrap!important ;
	
    position: relative;
    margin:auto;
    padding:20px;
}

.component-list-container{
    width: 80%!important;
    padding-bottom:15px!important;
	position: relative;
    margin:auto;
    padding:20px;
 }

.centered-tables{
    width:100%!important;
}

table.Parts-Table{
	width:100%!important;
}

.callout-group{
    width:250px!important;
    height:250px!important;
    padding:5px;
    position: relative;
    margin: auto;
	
}
.callout-img-container{
    position:relative;
    width:200px!important;
    height: 200px!important;
    border:medium solid gray;
    z-index:-1;
    margin:auto;
}

.callout-img-container>img{
    padding: 10%;
    height: 100%!important;
    width: 100%!important;
        		
            
}

.callout-letter{
    position:relative;
    margin-left: 25px;
    margin-bottom:unset!important;
    z-index:1;
    border:none!important;
    text-align:left;
}
.callout-letter>h4{
    margin-bottom:-20px;
}



@media (max-width:1045px) {
    .callout-group{
	    width:300px!important;
	    height:300px!important;
	    padding:5px;
	    position:relative!important;
	    margin:auto!important
    }
    .callout-img-container{
	    width:250px!important;
	    height: 250px!important;
}

}
@media (max-width:685px) {
    .callout-group{
	    width:300px!important;
	    height:300px!important;
	    padding:5px;
	    position:relative!important;
	    margin:auto!important
    }


}

@media (max-width:375px){
    .component-images-container{
        width:100%;

    }
    .callout-letter{
        margin-left:25px;
        margin-top:5px;

    }
}