body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.callout-letter {
	border-color:#25408f;
	border-width:2px;
	border-style:solid;
	background-color:#ffffff;
}
div.product-page-category-border {
	border-style:solid;
	background-color:#000000;
}
div.product-category-box {
	border-color:#000000;
	border-width:3px;
	border-style:solid;
	background-color:#000000;
}
div.centered-tables {
	border-style:solid;
}
div.callout-img-container {
	border-style:solid;
}
div.product-page-category-box-group {
	border-style:solid;
}
div.product-notice {
	border-style:solid;
}
div.product-page-subtitle {
	border-style:solid;
}
div.product-page-title {
	border-style:solid;
}
table.Parts-Table {
	border-collapse:collapse;
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	margin-bottom:-4px;
	margin-top:4px;
}
td.Parts-Table {
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:#000000;
	border-top-width:1px;
	border-top-style:solid;
	border-top-color:#000000;
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#000000;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#000000;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	vertical-align:top;
}
td.Body-Row {
	background-color:#ffffff;
	border-bottom-color:#000000;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#000000;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#000000;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#000000;
	border-top-style:solid;
	border-top-width:1px;
	vertical-align:middle;
}
td.Header-Row {
	background-color:#bcbec0;
}
td.TS-Header-Row {
	background-color:#808285;
	border-bottom-color:#000000;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#000000;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#000000;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#000000;
	border-top-style:solid;
	border-top-width:1px;
	vertical-align:middle;
}
p.Callouts_Callout-text {
	-epub-hyphens:none;
	color:#25408f;
	font-family:"Myriad Pro", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Content_Body-Center-Aligned {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Myriad Pro", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:9px;
	margin-right:9px;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Content_Body-Text {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Myriad Pro", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:18px;
	margin-right:18px;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
section.notice, li.notice {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Myriad Pro", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	list-style-position:outside;
	list-style-type:none;
	margin-bottom:5px;
	margin-left:59px;
	margin-right:18px;
	margin-top:5px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.page-subtitle-text {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Myriad Pro", sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:5px;
	margin-left:0;
	margin-right:9px;
	margin-top:5px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:underline;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.page-title {
	-epub-hyphens:none;
	color:#000000;
	font-family:Cambria, serif;
	font-size:18px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:0;
	margin-left:54px;
	margin-right:54px;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:1;
}
p.category-box-text {
	-epub-hyphens:none;
	color:#ffffff;
	font-family:"Myriad Pro", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:1;
}
p.Tables_Centered {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Myriad Pro", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:9px;
	margin-right:9px;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Tables_Left-Align {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Myriad Pro", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:9px;
	margin-right:9px;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
span.Caps {
	font-variant:normal;
	text-transform:uppercase;
}
span.Hyperlink {
	color:#25408f;
	text-decoration:underline;
}
td.CellOverride-1 {
	background-color:#939598;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
}
td.CellOverride-2 {
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
}
span.CharOverride-1 {
	color:#ffffff;
}
col._idGenTableRowColumn-1 {
	width:87px;
}
col._idGenTableRowColumn-2 {
	width:77px;
}
col._idGenTableRowColumn-3 {
	width:360px;
}
tr._idGenTableRowColumn-4 {
	min-height:17px;
}
tr._idGenTableRowColumn-5 {
	min-height:19px;
}
tr._idGenTableRowColumn-6 {
	min-height:18px;
}
tr._idGenTableRowColumn-7 {
	min-height:31px;
}
table._idGenTablePara-1 {
	margin-left:auto;
	margin-right:auto;
}
#_idContainer001, #_idContainer104 {
	display:inline-block;
	height:11px;
	position:relative;
	width:612px;
}
#_idContainer002 {
	display:inline-block;
	padding:4.50px 4.50px 4.50px 4.50px;
	width:131px;
}
#_idContainer007, #_idContainer056 {
	display:inline-block;
	height:99px;
	width:162px;
}
#_idContainer009, #_idContainer058 {
	display:inline-block;
	height:129px;
	width:182px;
}
#_idContainer011, #_idContainer060 {
	display:inline-block;
	height:95px;
	width:151px;
}
#_idContainer013, #_idContainer062 {
	display:inline-block;
	height:62px;
	width:213px;
}
#_idContainer015, #_idContainer064 {
	display:inline-block;
	height:89px;
	width:213px;
}
#_idContainer017, #_idContainer066 {
	display:inline-block;
	height:130px;
	width:66px;
}
#_idContainer019 {
	display:inline-block;
	height:120px;
	width:97px;
}
#_idContainer021 {
	display:inline-block;
	height:122px;
	width:99px;
}
#_idContainer023, #_idContainer072 {
	display:inline-block;
	height:130px;
	width:48px;
}
#_idContainer025, #_idContainer074 {
	display:inline-block;
	height:125px;
	width:64px;
}
#_idContainer027, #_idContainer076 {
	display:inline-block;
	height:125px;
	width:94px;
}
#_idContainer029 {
	display:inline-block;
	height:120px;
	width:85px;
}
#_idContainer031, #_idContainer080 {
	display:inline-block;
	height:90px;
	width:30px;
}
#_idContainer033, #_idContainer082 {
	display:inline-block;
	height:90px;
	width:67px;
}
#_idContainer035, #_idContainer084 {
	display:inline-block;
	height:90px;
	width:123px;
}
#_idContainer037, #_idContainer086 {
	display:inline-block;
	height:93px;
	width:122px;
}
#_idContainer039, #_idContainer088 {
	display:inline-block;
	height:64px;
	width:52px;
}
#_idContainer041, #_idContainer090 {
	display:inline-block;
	height:55px;
	width:81px;
}
#_idContainer043, #_idContainer092 {
	display:inline-block;
	height:72px;
	width:43px;
}
#_idContainer045, #_idContainer094 {
	display:inline-block;
	height:42px;
	width:45px;
}
#_idContainer047, #_idContainer096 {
	display:inline-block;
	height:41px;
	width:45px;
}
#_idContainer049, #_idContainer098 {
	display:inline-block;
	height:41px;
	width:43px;
}
#_idContainer051, #_idContainer100 {
	display:inline-block;
	height:34px;
	width:35px;
}
#_idContainer053, #_idContainer102 {
	display:inline-block;
	height:35px;
	width:40px;
}
#_idContainer068 {
	display:inline-block;
	height:120px;
	width:144px;
}
#_idContainer070 {
	display:inline-block;
	height:122px;
	width:146px;
}
#_idContainer078 {
	display:inline-block;
	height:119px;
	width:80px;
}
#_idContainer105 {
	display:inline-block;
	padding:4.50px 4.50px 4.50px 4.50px;
	width:157px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
div._idGenObjectStyleOverride-1 {
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
}
div._idGenObjectStyleOverride-2 {
	border-width:0px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
div._idGenObjectLayout-2 {
	text-align:left;
}
