body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.callout-letter {
	border-color:#25408f;
	border-width:2px;
	border-style:solid;
	background-color:#ffffff;
}
div.product-page-category-border {
	border-style:solid;
	background-color:#000000;
}
div.product-category-box {
	border-color:#000000;
	border-width:3px;
	border-style:solid;
	background-color:#000000;
}
div.centered-tables {
	border-style:solid;
}
div.callout-img-container {
	border-style:solid;
}
div.components-items-container {
	border-style:solid;
}
section.product-components-item-pages-container {
	border-style:solid;
}
section.product-components-list-pages-container {
	border-style:solid;
}
div.product-page-category-box-group {
	border-style:solid;
}
div.product-notice {
	border-style:solid;
}
div.product-page-subtitle {
	border-style:solid;
}
div.product-page-title {
	border-style:solid;
}
table.Parts-Table {
	border-collapse:collapse;
	border-color:#000000;
	border-style:solid;
	border-width:1px;
	margin-bottom:-4px;
	margin-top:4px;
}
td.Parts-Table {
	border-left-width:1px;
	border-left-style:solid;
	border-left-color:#000000;
	border-top-width:1px;
	border-top-style:solid;
	border-top-color:#000000;
	border-right-width:1px;
	border-right-style:solid;
	border-right-color:#000000;
	border-bottom-width:1px;
	border-bottom-style:solid;
	border-bottom-color:#000000;
	padding-top:4px;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	vertical-align:top;
}
td.Body-Row {
	background-color:#ffffff;
	border-bottom-color:#000000;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#000000;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#000000;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#000000;
	border-top-style:solid;
	border-top-width:1px;
	vertical-align:middle;
}
td.Header-Row {
	background-color:#bcbec0;
}
td.TS-Header-Row {
	background-color:#808285;
	border-bottom-color:#000000;
	border-bottom-style:solid;
	border-bottom-width:1px;
	border-left-color:#000000;
	border-left-style:solid;
	border-left-width:1px;
	border-right-color:#000000;
	border-right-style:solid;
	border-right-width:1px;
	border-top-color:#000000;
	border-top-style:solid;
	border-top-width:1px;
	vertical-align:middle;
}
p.Callouts_Callout-text {
	-epub-hyphens:none;
	color:#25408f;
	font-family:"Myriad Pro", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Content_Body-Center-Aligned {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Myriad Pro", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:9px;
	margin-right:9px;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Content_Body-Text {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Myriad Pro", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:18px;
	margin-right:18px;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
section.notice, li.notice {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Myriad Pro", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	list-style-position:outside;
	list-style-type:none;
	margin-bottom:5px;
	margin-left:59px;
	margin-right:18px;
	margin-top:5px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.page-subtitle-text {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Myriad Pro", sans-serif;
	font-size:14px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:5px;
	margin-left:0;
	margin-right:9px;
	margin-top:5px;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:underline;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.page-title {
	-epub-hyphens:none;
	color:#000000;
	font-family:Cambria, serif;
	font-size:18px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:0;
	margin-left:54px;
	margin-right:54px;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:1;
}
p.category-box-text {
	-epub-hyphens:none;
	color:#ffffff;
	font-family:"Myriad Pro", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:bold;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:uppercase;
	widows:1;
}
p.Basic-Paragraph {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Myriad Pro", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:18px;
	margin-right:18px;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Tables_Centered {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Myriad Pro", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:9px;
	margin-right:9px;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:center;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.Tables_Left-Align {
	-epub-hyphens:none;
	color:#000000;
	font-family:"Myriad Pro", sans-serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:9px;
	margin-right:9px;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
span.Caps {
	font-variant:normal;
	text-transform:uppercase;
}
span.Hyperlink {
	color:#25408f;
	text-decoration:underline;
}
td.CellOverride-1 {
	background-color:#939598;
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
}
td.CellOverride-2 {
	padding-bottom:4px;
	padding-left:4px;
	padding-right:4px;
	padding-top:4px;
}
span.CharOverride-1 {
	color:#ffffff;
}
col._idGenTableRowColumn-1 {
	width:87px;
}
col._idGenTableRowColumn-2 {
	width:77px;
}
col._idGenTableRowColumn-3 {
	width:360px;
}
tr._idGenTableRowColumn-4 {
	min-height:17px;
}
tr._idGenTableRowColumn-5 {
	min-height:19px;
}
tr._idGenTableRowColumn-6 {
	min-height:18px;
}
tr._idGenTableRowColumn-7 {
	min-height:31px;
}
table._idGenTablePara-1 {
	margin-left:auto;
	margin-right:auto;
}
#_idContainer000, #_idContainer105 {
	width:576px;
}
#_idContainer001, #_idContainer106 {
	display:inline-block;
	height:11px;
	position:relative;
	width:612px;
}
#_idContainer002 {
	display:inline-block;
	padding:4.50px 4.50px 4.50px 4.50px;
	width:131px;
}
#_idContainer003, #_idContainer108 {
	display:inline-block;
	width:612px;
}
#_idContainer004 {
	width:120px;
}
#_idContainer005 {
	display:inline-block;
	width:147px;
}
#_idContainer006, #_idContainer008, #_idContainer010, #_idContainer012, #_idContainer014, #_idContainer016, #_idContainer018, #_idContainer020, #_idContainer022, #_idContainer024, #_idContainer026, #_idContainer028, #_idContainer030, #_idContainer032, #_idContainer034, #_idContainer038, #_idContainer040, #_idContainer042, #_idContainer044, #_idContainer048, #_idContainer050, #_idContainer052, #_idContainer056, #_idContainer058, #_idContainer060, #_idContainer062, #_idContainer064, #_idContainer066, #_idContainer068, #_idContainer070, #_idContainer072, #_idContainer074, #_idContainer076, #_idContainer078, #_idContainer080, #_idContainer082, #_idContainer084, #_idContainer088, #_idContainer090, #_idContainer092, #_idContainer094, #_idContainer098, #_idContainer100, #_idContainer102 {
	display:inline-block;
	padding:1.44px 1.44px 1.44px 1.44px;
	width:20px;
}
#_idContainer007, #_idContainer057 {
	display:inline-block;
	height:99px;
	width:162px;
}
#_idContainer009, #_idContainer059 {
	display:inline-block;
	height:129px;
	width:182px;
}
#_idContainer011, #_idContainer061 {
	display:inline-block;
	height:95px;
	width:151px;
}
#_idContainer013, #_idContainer063 {
	display:inline-block;
	height:62px;
	width:213px;
}
#_idContainer015, #_idContainer065 {
	display:inline-block;
	height:89px;
	width:213px;
}
#_idContainer017, #_idContainer067 {
	display:inline-block;
	height:130px;
	width:66px;
}
#_idContainer019 {
	display:inline-block;
	height:120px;
	width:97px;
}
#_idContainer021 {
	display:inline-block;
	height:122px;
	width:99px;
}
#_idContainer023, #_idContainer073 {
	display:inline-block;
	height:130px;
	width:48px;
}
#_idContainer025, #_idContainer075 {
	display:inline-block;
	height:125px;
	width:64px;
}
#_idContainer027, #_idContainer077 {
	display:inline-block;
	height:125px;
	width:94px;
}
#_idContainer029 {
	display:inline-block;
	height:120px;
	width:85px;
}
#_idContainer031, #_idContainer081 {
	display:inline-block;
	height:90px;
	width:30px;
}
#_idContainer033, #_idContainer083 {
	display:inline-block;
	height:90px;
	width:67px;
}
#_idContainer035, #_idContainer085 {
	display:inline-block;
	height:90px;
	width:123px;
}
#_idContainer036, #_idContainer046, #_idContainer086, #_idContainer096 {
	display:inline-block;
	padding:1.44px 1.44px 1.44px 1.44px;
	width:21px;
}
#_idContainer037, #_idContainer087 {
	display:inline-block;
	height:93px;
	width:122px;
}
#_idContainer039, #_idContainer089 {
	display:inline-block;
	height:64px;
	width:52px;
}
#_idContainer041, #_idContainer091 {
	display:inline-block;
	height:55px;
	width:81px;
}
#_idContainer043, #_idContainer093 {
	display:inline-block;
	height:72px;
	width:43px;
}
#_idContainer045, #_idContainer095 {
	display:inline-block;
	height:42px;
	width:45px;
}
#_idContainer047, #_idContainer097 {
	display:inline-block;
	height:41px;
	width:45px;
}
#_idContainer049, #_idContainer099 {
	display:inline-block;
	height:41px;
	width:43px;
}
#_idContainer051, #_idContainer101 {
	display:inline-block;
	height:34px;
	width:35px;
}
#_idContainer053, #_idContainer103 {
	display:inline-block;
	height:35px;
	width:40px;
}
#_idContainer054, #_idContainer110 {
	display:inline-block;
	width:576px;
}
#_idContainer055 {
	display:inline-block;
	width:117px;
}
#_idContainer069 {
	display:inline-block;
	height:120px;
	width:144px;
}
#_idContainer071 {
	display:inline-block;
	height:122px;
	width:146px;
}
#_idContainer079 {
	display:inline-block;
	height:119px;
	width:80px;
}
#_idContainer107 {
	display:inline-block;
	padding:4.50px 4.50px 4.50px 4.50px;
	width:157px;
}
#_idContainer109 {
	display:inline-block;
	width:143px;
}
#_idContainer111 {
	display:inline-block;
	width:525px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
div._idGenObjectStyleOverride-1 {
	border-bottom-left-radius:12px;
	border-bottom-right-radius:12px;
	border-top-left-radius:12px;
	border-top-right-radius:12px;
}
div._idGenObjectStyleOverride-2 {
	border-width:0px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
div._idGenObjectLayout-2 {
	text-align:left;
}
